
html, body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background-color: #000000;
}


canvas {
    background-color: #ffffff;
    display: block;
    margin: 10px auto;
    border-radius: 5px 5px 5px 5px;
}